.Bubbles {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    pointer-events: none;
    min-width: 100vw;
    min-height: 100vh;
    // background: #f004;

    .bubble {
        position: absolute;
        bottom: -300px;
        width: 50px;
        height: 50px;
        animation: floatUp linear infinite;
        cursor: pointer;
        pointer-events: all;
        cursor: pointer;
        user-select: none;
        -webkit-user-drag: none;
        /* Запрет перетаскивания в WebKit-браузерах */
        user-drag: none;
        /* Запрет перетаскивания */
        -webkit-tap-highlight-color: transparent;
    }
}

@keyframes floatUp {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateY(-120vh);
        opacity: 0;
    }
}