.MediaSmall {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    column-gap: 24px;

    &_el {
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 28px;
        border: 2px solid black;
        box-shadow: 0px 8px 0px black;

        img {
            width: 40px;
            height: 40px;
        }

        &_1 {
            background: #383946;
        }

        &_2 {
            background: #3B9FF1;
        }

        &_3 {
            background: #23242A;
        }


    }
}