.App {
    width: 100%;
    overflow: hidden;
    background: linear-gradient(to bottom, #2578AC, #1A4F70, #406056, #2A3526);
    // padding-bottom: 500px;
}

.textShadowAndBorder {
    text-shadow: 1.00px 0.00px #000000, 0.92px 0.38px #000000, 0.71px 0.71px #000000, 0.38px 0.92px #000000, 0.00px 1.00px #000000, -0.38px 0.92px #000000, -0.71px 0.71px #000000, -0.92px 0.38px #000000, -1.00px 0.00px #000000, -0.92px -0.38px #000000, -0.71px -0.71px #000000, -0.38px -0.92px #000000, -0.00px -1.00px #000000, 0.38px -0.92px #000000, 0.71px -0.71px #000000, 0.92px -0.38px #000000, 1.00px 3.00px #000000, 0.92px 3.38px #000000, 0.71px 3.71px #000000, 0.38px 3.92px #000000, 0.00px 4.00px #000000, -0.38px 3.92px #000000, -0.71px 3.71px #000000, -0.92px 3.38px #000000, -1.00px 3.00px #000000, -0.92px 2.62px #000000, -0.71px 2.29px #000000, -0.38px 2.08px #000000, -0.00px 2.00px #000000, 0.38px 2.08px #000000, 0.71px 2.29px #000000, 0.92px 2.62px #000000;
}